In [0]:
import pandas as pd

In [3]:
# We import Pandas as pd into Python
import pandas as pd

# We create a Pandas Series that stores a grocery list
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

# We display the Groceries Pandas Series
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [4]:
# We print some information about Groceries
print('Groceries has shape:', groceries.shape)
print('Groceries has dimension:', groceries.ndim)
print('Groceries has a total of', groceries.size, 'elements')

('Groceries has shape:', (4,))
('Groceries has dimension:', 1)
('Groceries has a total of', 4, 'elements')

In [5]:
# We print the index and data of Groceries
print('The data in Groceries is:', groceries.values)
print('The index of Groceries is:', groceries.index)

('The data in Groceries is:', array([30, 6, 'Yes', 'No'], dtype=object))
('The index of Groceries is:', Index([u'eggs', u'apples', u'milk', u'bread'], dtype='object'))

In [6]:
# We check whether bananas is a food item (an index) in Groceries
x = 'bananas' in groceries

# We check whether bread is a food item (an index) in Groceries
y = 'bread' in groceries

# We print the results
print('Is bananas an index label in Groceries:', x)
print('Is bread an index label in Groceries:', y)

('Is bananas an index label in Groceries:', False)
('Is bread an index label in Groceries:', True)

In [7]:
# We access elements in Groceries using index labels:

# We use a single index label
print('How many eggs do we need to buy:', groceries['eggs'])
print()

# we can access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
print()

# we use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 
print()

# We access elements in Groceries using numerical indices:

# we use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 
print()

# We use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
print()

# We use a single numerical index
print('How many eggs do we need to buy:', groceries[0]) 
print()
# we use iloc to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

('How many eggs do we need to buy:', 30)
()
('Do we need milk and bread:\n', milk     Yes
bread     No
dtype: object)
()
('How many eggs and apples do we need to buy:\n', eggs      30
apples     6
dtype: object)
()
('How many eggs and apples do we need to buy:\n', eggs      30
apples     6
dtype: object)
()
('Do we need bread:\n', bread    No
dtype: object)
()
('How many eggs do we need to buy:', 30)
()
('Do we need milk and bread:\n', milk     Yes
bread     No
dtype: object)

In [8]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We change the number of eggs to 2
groceries['eggs'] = 2

# We display the changed grocery list
print()
print('Modified Grocery List:\n', groceries)

('Original Grocery List:\n', eggs       30
apples      6
milk      Yes
bread      No
dtype: object)
()
('Modified Grocery List:\n', eggs        2
apples      6
milk      Yes
bread      No
dtype: object)

In [9]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove apples from our grocery list. The drop function removes elements out of place
print()
print('We remove apples (out of place):\n', groceries.drop('apples'))

# When we remove elements out of place the original Series remains intact. To see this
# we display our grocery list again
print()
print('Grocery List after removing apples out of place:\n', groceries)

('Original Grocery List:\n', eggs        2
apples      6
milk      Yes
bread      No
dtype: object)
()
('We remove apples (out of place):\n', eggs       2
milk     Yes
bread     No
dtype: object)
()
('Grocery List after removing apples out of place:\n', eggs        2
apples      6
milk      Yes
bread      No
dtype: object)

In [10]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove apples from our grocery list in place by setting the inplace keyword to True
groceries.drop('apples', inplace = True)

# When we remove elements in place the original Series its modified. To see this
# we display our grocery list again
print()
print('Grocery List after removing apples in place:\n', groceries)

('Original Grocery List:\n', eggs        2
apples      6
milk      Yes
bread      No
dtype: object)
()
('Grocery List after removing apples in place:\n', eggs       2
milk     Yes
bread     No
dtype: object)

In [11]:
# We create a Pandas Series that stores a grocery list of just fruits
fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

# We display the fruits Pandas Series
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [15]:
# We print fruits for reference
print('Original grocery list of fruits:\n ', fruits)

# We perform basic element-wise operations using arithmetic symbols
print("")
print('fruits + 2:\n', fruits + 2) # We add 2 to each item in fruits
print("")
print('fruits - 2:\n', fruits - 2) # We subtract 2 to each item in fruits
print("")
print('fruits * 2:\n', fruits * 2) # We multiply each item in fruits by 2 
print("")
print('fruits / 2:\n', fruits / 2) # We divide each item in fruits by 2
print("")

('Original grocery list of fruits:\n ', apples     10
oranges     6
bananas     3
dtype: int64)

('fruits + 2:\n', apples     12
oranges     8
bananas     5
dtype: int64)

('fruits - 2:\n', apples     8
oranges    4
bananas    1
dtype: int64)

('fruits * 2:\n', apples     20
oranges    12
bananas     6
dtype: int64)

('fruits / 2:\n', apples     5.0
oranges    3.0
bananas    1.5
dtype: float64)

In [17]:
# We import NumPy as np to be able to use the mathematical functions
import numpy as np

# We print fruits for reference
print('Original grocery list of fruits:\n', fruits)

# We apply different mathematical functions to all elements of fruits
print("")
print('EXP(X) = \n', np.exp(fruits))
print("")
print('SQRT(X) =\n', np.sqrt(fruits))
print("")
print('POW(X,2) =\n',np.power(fruits,2)) # We raise all elements of fruits to the power of 2

('Original grocery list of fruits:\n', apples     10
oranges     6
bananas     3
dtype: int64)

('EXP(X) = \n', apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64)

('SQRT(X) =\n', apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64)

('POW(X,2) =\n', apples     100
oranges     36
bananas      9
dtype: int64)

In [19]:
# We print fruits for reference
print('Original grocery list of fruits:\n ', fruits)
print("")

# We add 2 only to the bananas
print('Amount of bananas + 2 = ', fruits['bananas'] + 2)
print("")

# We subtract 2 from apples
print('Amount of apples - 2 = ', fruits.iloc[0] - 2)
print("")

# We multiply apples and oranges by 2
print('We double the amount of apples and oranges:\n', fruits[['apples', 'oranges']] * 2)
print("")

# We divide apples and oranges by 2
print('We half the amount of apples and oranges:\n', fruits.loc[['apples', 'oranges']] / 2)

('Original grocery list of fruits:\n ', apples     10
oranges     6
bananas     3
dtype: int64)

('Amount of bananas + 2 = ', 5)

('Amount of apples - 2 = ', 8)

('We double the amount of apples and oranges:\n', apples     20
oranges    12
dtype: int64)

('We half the amount of apples and oranges:\n', apples     5.0
oranges    3.0
dtype: float64)

In [20]:
# We multiply our grocery list by 2
groceries * 2

eggs          4
milk     YesYes
bread      NoNo
dtype: object

In [0]:
import pandas as pd

# Create a Pandas Series that contains the distance of some planets from the Sun.
# Use the name of the planets as the index to your Pandas Series, and the distance
# from the Sun as your data. The distance from the Sun is in units of 10^6 km

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

# Create a Pandas Series using the above data, with the name of the planets as
# the index and the distance from the Sun as your data.
dist_planets = 

# Calculate the number of minutes it takes sunlight to reach each planet. You can
# do this by dividing the distance from the Sun for each planet by the speed of light.
# Since in the data above the distance from the Sun is in units of 10^6 km, you can
# use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute.
time_light = 

# Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets =

In [0]:
import pandas as pd

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

dist_planets = pd.Series(data = distance_from_sun, index = planets)

time_light = dist_planets / 18

close_planets = time_light[time_light < 40]

In [22]:
# We import Pandas as pd into Python
import pandas as pd

# We create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We print the type of items to see that it is a dictionary
print(type(items))

<type 'dict'>

In [23]:
# We create a Pandas DataFrame by passing it a dictionary of Pandas Series
shopping_carts = pd.DataFrame(items)

# We display the DataFrame
shopping_carts

         Alice    Bob
bike     500.0  245.0
book      40.0    NaN
glasses  110.0    NaN
pants     45.0   25.0
watch      NaN   55.0

In [24]:
# We create a dictionary of Pandas Series without indexes
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# We create a DataFrame
df = pd.DataFrame(data)

# We display the DataFrame
df

   Alice    Bob
0     40  245.0
1    110   25.0
2    500   55.0
3     45    NaN

In [26]:
# We print some information about shopping_carts
print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print("")
print('The data in shopping_carts is:\n', shopping_carts.values)
print("")
print('The row index in shopping_carts is:', shopping_carts.index)
print("")
print('The column index in shopping_carts is:', shopping_carts.columns)

('shopping_carts has shape:', (5, 2))
('shopping_carts has dimension:', 2)
('shopping_carts has a total of:', 10, 'elements')

('The data in shopping_carts is:\n', array([[500., 245.],
       [ 40.,  nan],
       [110.,  nan],
       [ 45.,  25.],
       [ nan,  55.]]))

('The row index in shopping_carts is:', Index([u'bike', u'book', u'glasses', u'pants', u'watch'], dtype='object'))

('The column index in shopping_carts is:', Index([u'Alice', u'Bob'], dtype='object'))

In [27]:
# We Create a DataFrame that only has Bob's data
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# We display bob_shopping_cart
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55